#preso, #footer, .slide {
	width: 960px !important;
}

#preso {
	height: 485px !important;
}

div.slide > div.content {
	margin-top: 0px !important;
}

.centered {
	text-align: center;
}

img[src='/nowaker.png'] {
	display: none;
}

ul, li {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

