#preso, #footer, .slide {
	width: 736px !important;
}

#preso {
	height: 485px !important;
}

div.slide > div.content {
	margin-top: 0px !important;
}

.centered {
	text-align: center;
}

img[src='/nowaker.png'] {
	display: none;
}

ul, li {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

h1 {
	font-size: 55px;
}

h2 {
	font-size: 40px;
}

code {
	font-size: 22px;
}

